html,body{
    scroll-behavior:smooth;
}
body{
    background: rgba(0, 0, 0, 0.7) url(../imagens/MinhaFoto.jpeg); 
    background-blend-mode: darken;
    background-repeat:no-repeat;
    background-size:100%;
    }
    .div_header_efeito{
        display:flex;
        align-self:center;
        margin-left:5%;
    }
    .nomeH2{
        font-family: 'Rubik Glitch', cursive;
        font-size:2vw;
        width:0 auto;
        overflow:hidden;
        white-space:nowrap;
        border-right:2px solid rgb(6, 238, 49);
        animation: 
        writing 2s steps(20) forwards,
        blinking 1s infinite;
    }
    .icons{
        width:50px;
    }
    a{
        text-decoration:none;
    }
    .header_nav{
        width:100%;
        height:20%;
        display:flex;
        justify-content:space-between;
        margin-top:3%;
    }
    .nav_bar{
        width:100%;
        height:fit-content;
    }
    .ul_nav{
        display:flex;
        justify-content:flex-end;
        margin-right:10%;
    }
    .li_nav{
        padding:2%;
    }
    .ancora_nav{
        color:#fff;
        font-weight:900;
        font-size:2vw;
    }
    .ancora_h2_nav{
        color:#fff;
    }
    .button_nav{
        background-color:rgba(207, 236, 43,0.3);
        border:solid rgba(255, 255, 255,0.7) 3px;
        border-radius:10%;
        height:max-content;
        align-self:center;
    }
    .section_texto_h1{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
        color:#fff;
        margin: 8vw auto;
        height:25.5vw;
    }
    .texto_h1{
        width:60%;
        font-size:5vw;
    }
    .button_section_h1{
        width:fit-content;
        font-size:3vw;
        background-color:rgba(207, 236, 43,0.1);
        border:solid rgba(255, 255, 255,0.7) 3px;
        border-radius:10px;
        padding:1vh;
        transition: all 500ms ease;
    }

    .ancora_botao_bora{
        color:rgb(255, 255, 255);
    }
    button:hover{
        border: #009b4e solid 3px;
    }

    .ancora_nav:hover,.ancora_botao_bora:hover{
        transform:scale(120%);
    }

    @keyframes bounce{
        10%  {transform:translateY(50%);border:20px 100%; padding: 0 10px; }
            30%  { transform: scale(.9,1.1)   translateY(-30%);}
    }

    @keyframes writing{
        from {width:0%}
        to {width:100%}
    }
    
    @keyframes blinking {
        from { border-color: transparent }
        100% { border-color: rgb(6, 238, 49); }
      } 
      /****/

      .section_portfolio{
        background-color:rgba(75, 227, 172,1);
        color:#000;
        font-weight:900;
        font-size:32px;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:24px;
    }
    .section_portfolio_p:not(:last-of-type){
        margin-bottom:32px;
    }
    
    .section_portfolio_p{
        width:100%;
        max-width:1200px;
        /* text-indent:3.8vw; */
        line-height:2.1vw;
        text-align:justify;
    }
.projetosTitle{
    margin-top:24px;
    margin-bottom:24px;
    font-size:10vw;
}
.projetosTitle::after{
    content:"}"
}
.projetosTitle::before{
    content:"{"
}
.img_projetos{
    width:44vh;
    margin:1vw;
    border:solid #000 3px;
}
.p_video{
    color:#000;
    margin-top:10vw;
    font-weight:700;
}
.section_div_projetos{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}
.div_video{
    display:Flex;
    justify-content:space-around;
    align-items:center;
}
    .video_div{
        width:40vw;
        margin:1vw;
}


/****/
.footer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    padding:5% 0 5% 0;
    height:100%;
    background-color:#fff;
}
.footer_h2{
font-size:3vw;
color:#000;
font-weight:900;
margin-bottom:16px;
}
.footer_ul_a{
    margin:2.5vw;
}
.footer_icon{
    width:2.2vw;
}
.footer_icon_copyright{
    width:1vw;
}
.footer_p{
    font-size:1.5vw;
    color:#000;
    display:flex;
}
.footer_nav_ul{
    padding:1.2vw;
}
